    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    *{
        font-family: 'Pretendard-Regular';
    }
    

    .container{

        display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100vw;
        height: 100vh;

    }

    .main-box{

        border: none;
        box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2); /* 그림자 추가 */ 
        
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 60vh;
        transition: box-shadow 0.3s;

        
    }
    .main-box:hover{
        box-shadow: 1px 12px 24px rgba(0, 0, 0, 0.5); /* 그림자 추가 */ 

    }

        .inputs{

            display: flex;

            flex-direction: column;
            justify-content: space-between;
            
        }

    .button-box{

        display: flex;
          
        justify-content: center;
        width: 8vw;
        height: 20vh;

    }

        .buttons{

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 10vh;

            height: 3vh;
            width : 11vw;

            
        }

        input{

            border: none;
            border-bottom: 1px solid black;
            
            outline: none;
           
            width : 200px;

            padding: 7px;

        }

        button{

            background-color: #306D5F;

            color: #FFFFFF;

            border:none;
            border-radius: 2px;

            transition: color 0.3s;
            background-color : 0.3s;
        }

        button:hover{

            color: #306D5F;
            background-color: white;

        }  